.navbar{
    background-color: black;
}

.navbar-nav{
    font-family: Lastica, serif;
    letter-spacing: 3px;
}

.navbar-nav .nav-link {

    font-size: 20px; /* Taille de la police */
}

.navbar{
    background-color: black;
}
.navbar-nav .nav-link:hover{
    color:#b2a387 !important;
}

.dropdown-item:hover{
    background-color: #b2a387 !important;
}
.mia{
    height: 400px;
    color: white;
}

.nous-suivre-1{
    margin-left: 10%;
}

.nous-suivre-2{
    margin-left: 10%;
}

.logo-img{
    width: 300px;
    height: 130px;
}


.ligne{
    margin: 80px 20px 20px 20px;
}
.logo-sociaux{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.logo-footer{
    width: 50%;
}