/*IMPACT*/
.culture-entreprise h2{
    font-family: Lastica, serif;
    font-weight: bold;
}
.culture-entreprise p, .culture-entreprise ul{
    font-family: Glacial Indifference, serif;
    font-size: 20px;
}
.symbole {
    width: 150px;
    height: 150px;
    margin: 0 30px 30px 0;

}

.culture-entreprise {
    display: flex
}

.engagements {
    background-color: #481414;
    text-align: justify;
    font-size: 20px;
}

.engagements h3{
    font-family: Lastica, serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.engagements p{
   font-family: Glacial Indifference, serif;
}

.impact-2 h1 {
    font-family: Lastica, serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 3px;
}
.impact-2 h2 {
    padding: 30px;
    color: #805e27;
    background-color: #dcdcd4;
    opacity: 0.7;
    position: absolute;
    margin-top: 400px;
    font-family: Glacial Indifference, serif;
    letter-spacing: 3px;
}

.impact-2 p{
    font-family: Glacial Indifference, serif;
    font-size: 20px;
}

.impact-3 {
    margin-top: 50px;
    font-family: TAN MERINGUE, serif;
    color: #441404
}


@media (max-width: 426px) {
    .impact-2 h1 {
        font-size: 25px;
    }
    .impact-2 h2{
        font-size: 18px;
        margin: 130px 30px 0 30px;
        padding: 0;
    }
}



