/*IMPACT*/
.symbole {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.culture-entreprise {
    display: flex
}

.engagements {
    background-color: #481414;
    text-align: justify;
    font-size: 20px;
}

.impact-2 h2 {
    padding: 30px;
    color: #805e27;
    background-color: #dcdcd4;
    opacity: 0.7;
    transform: translate(-50%, 200%);
    position: absolute;
}

.impact-3 {
    margin-top: 50px;
    font-family: TAN MERINGUE, serif;
    color: #441404
}

@media (max-width: 376px) {
    .fashionContainer-2 .titre{
        font-size: 28px;
    }
}
