/*Section home-container 1*/
.home-container-1 {
    background-image: url("../img/index/home-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    color: white;

}

.home-container-1 .info {
    color: white;
    font-family: Lastica, serif;
}

.info h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 5%;
    padding-top: 20%;

}

.info h4 {
    color: white;
    word-spacing: 10px;
    padding-left: 5%;

}

/*Section home-container 2*/

.home-container-2 h2 {
    font-family: Great Vibes, serif;
    font-size: 50px;
    font-weight: bold;
}

.home-container-2 p {
    font-family: Glacial Indifference, serif;
    font-size: 20px;
}

.video iframe {
    width: 100%;
    height: 400px;
    max-height: 100%;
    object-fit: cover;
}

/*Section home-container 3*/

.home-container-3 {
    font-family: Great Vibes, serif;
}


.home-container-3 p {
    text-align: center;
    font-size: 50px;
}

/*Section home-container 4*/

.home-container-4 {
    display: flex;
    justify-content: center;
}

.home-container-4 img {
    margin: 30px; /* Ajoute une marge entre les images */
}

#home-image2, #home-image4 {
    width: 290px;
    height: 450px;
}

#home-image3 {
    margin-top: 100px;
    width: 350px;
    height: 300px;
}

.image-container, .image-container-2 {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.image-container.black::before {
    background-color: black; /* Couleur noire */
}

.image-container.red::before {
    background-color: darkred; /* Couleur rouge */
}

.image-container::before {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 0;
    width: calc(100% - 60px); /* Largeur du rectangle moins les marges */
    height: calc(85%); /* Hauteur du rectangle moins les marges */
    z-index: -1; /* Mettre en arrière-plan */
}

.image-container-2::before {
    content: "";
    position: absolute;
    background-color: saddlebrown; /* Couleur marron */
    top: 120px;
    right: 0;
    width: calc(100% - 60px); /* Largeur du rectangle moins les marges */
    height: calc(58%);
    z-index: -1; /* Mettre en arrière-plan */
}

.image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    padding: 10px 20px; /* Ajustez le rembourrage selon vos besoins */
    background-color: rgba(112, 118, 144, 0.5); /* Couleur de fond semi-transparente */
    color: white; /* Couleur du texte blanc */
    margin: 0;
    font-family: Lastica, sans-serif;
    letter-spacing: 5px;
}

.image-container img, .image-container-2 img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.image-container .description, .image-container-2 .description {
    color: white;
    text-align: center;
    transform: translate(5%, -100%);
}


/*Section home-container 5*/
.home-container-5 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.home-container-5 a {
    padding: 10px 70px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: #603512;
    font-family: Lastica, serif;
    letter-spacing: 3px;
}


#home-image5 {
    width: 450px;
    height: 600px;
    margin-bottom: 20px;
}

.titre1 {
    background-color: #e0ccc4;
    padding: 10px 10px;
    color: #5b5246;
}

.titre1 h6 {
    font-size: 40px;
    letter-spacing: 2px;
}

.titre1 p {
    font-family: Lastica, serif;
    font-size: 30px;
}

/*Section home-container 6*/
.home-container-6 {
    display: flex;
    text-align: center;
    justify-content: center;
}


.home-container-6 a {
    padding: 10px 70px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: #6d755c;
    font-family: Lastica, serif;
    letter-spacing: 3px;

}

#home-image6 {
    padding: 20px 0;
    width: 450px;
    height: 600px;
}

.titre2 {
    background-color: #495333;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 20px 15px;
    letter-spacing: 3px;

}

.titre2 p {
    font-family: Lastica, serif;
    font-size: 30px;

}

.home-container-5 .section-text, .home-container-6 .section-text {
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrage horizontal des éléments enfants */
    flex-direction: column; /* Affichage des éléments enfants en colonne */
    align-items: center; /* Centrage vertical des éléments enfants */
    text-align: center;
}

.paragraphe {
    font-size: 25px;
    font-family: Glacial Indifference, serif;

}

/*Section home-container-7*/
.home-container-7 {
    position: relative;
    text-align: center;
}

.home-container span {
    color: #EBCF3F
}

.home-container-7 img {
    width: 50%;
    height: 65%;
    display: block;
    margin: 0 auto;
}


.home-container-7 h6 {
    font-size: 25px;
    font-family: Lastica, serif;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 15px;
}

.home-container-7 p {
    font-size: 20px;
    font-family: Glacial Indifference, serif;
}

.home-container-7 a {
    padding: 10px 5px;
    border-radius: 30px;
    border: 2px solid black; /* Définit une bordure de 2 pixels d'épaisseur, solide et noire */
    font-size: 17px;
    background-color: #EBCF3F;
    color: black;
}


.home-container-8 {
    background-image: url("../img/index/home-image8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px; /* Hauteur minimale de votre conteneur */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    text-align: center; /* Aligner le texte au centre */
}

.home-container-8 h1 {
    color: white;
    font-size: 50px;
    font-family: Lastica, serif;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Media Queries pour les écrans de taille moyenne (max-width: 1226px) */
@media (max-width: 426px) {
    .home-container-1, .home-container-8 {
        background-size: contain;
        height: 285px;
    }

    .info h1 {
        font-size: 15px;
        padding-top: 25%;

    }

    .info h4 {
        font-size: 10px;
    }


    #home-image3 {
        width: 300px;
        height: 300px;
    }

    .home-container-3 p, .home-container-2 h2 {
        font-size: 40px;
    }


    .home-container-8 {
        background-size: contain;
        height: 400px;
    }

    .home-container-8 h1 {
        font-size: 25px;
        margin-bottom: 50px;
    }

}

@media (max-width: 408px) {

    .home-container-1 {
        height: 272px;
    }
}




@media (max-width: 376px) {
    .home-container-1 {
        height: 251px;
    }

    .home-container-3 p, .home-container-2 h2 {
        font-size: 30px;
    }

    .home-container-5 a, .home-container-6 a {
        padding: 10px 40px;
    }

    .home-container-8 {
        height: 390px;
    }

    .home-container-8 h1 {
        margin-bottom: 80px;
    }

}

@media (max-width: 321px) {
    .home-container-1 {
        height: 215px;
    }

    .home-container-8 {
        height: 400px;
    }

}

@media only screen and (max-width: 1226px) {
    /* Afficher les éléments en colonne */
    .home-container-4 {
        flex-direction: column;
        align-items: center; /* Centrer les éléments horizontalement */
    }

    .image-container-2::before {
        height: calc(70%);
    }
}




