.home-container-1 {
    background-image: url("../img/home-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #603512;
    background-position: center;
    height: 700px;
    color: white;

}
.home-container-1 .info {
    color: white;
  
    font-family: Lastica, serif;
  

}
.info h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 5%;
    padding-top: 20%;
   
}

.info h4 {
    color: white;
    word-spacing: 10px;
    padding-left:5%;
    
}
.video iframe{
    width: 100%;
    height: 400px;
    max-height: 100%;
    object-fit: cover;
}
 .section-text h2 {
    font-family: Shrikhand, serif;
}

.section-text p {
    font-family: GlacialIndifference, serif;
}
.home-container-3 {
    font-size: 40px;
    font-family: 'Aniyah', serif;
    opacity: 90%;
}


.home-container-3 p {
    text-align: center;
   font-weight: bold;
}
.home-container-4 {
    display: flex;
    margin: 0 30px;
    justify-content: center;

}
 #home-image2 {
    width: 300px;
    height: 400px;
    
}
#home-image4 {
    width: 300px;
    height: 400px;
}

#home-image3 {
    width: 300px;
    height: 300px;
    margin-top: 60px;
}
.image-text {
    text-align: center;
    top: 40%;
    left: 8%;
    font-size: 10px;
    padding: 10px 20px; 
    background-color: rgba(112, 118, 144, 0.5); 
    color: white; 
    font-family: Lastica, sans-serif;
    letter-spacing: 5px;
}
.container-black{
    background-color: black;
    width: 80%;
    height: 400px;
    left: 8%;
    top: 16%;
    z-index: -1;
}
.description{
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-family: bold;
}
.image-text-1 {
    text-align: center;
    top: 50%;
    left: 8%;
    font-size: 10px;
    padding: 5px 5px; 
    background-color: rgba(112, 118, 144, 0.5); 
    color: white; 
    font-family: Lastica, sans-serif;
    letter-spacing: 5px;
}
.container-brow {
    background-color:#603512;
    width:  80%;
    height: 300px;
    left: 10%;
    top: 29%;
    z-index: -1;
}

.container-red {
    background-color:red;
    width: 80%;
    height: 400px;
    left: 8%;
    top: 16%;
    z-index: -1;  
}
#home-image6 {
    width: 300px;
    height: 300px;
}



.ofr-index{
    background-color: #e0ccc4;
    justify-content: center;
    text-align: center;
    font-family: Lastica, serif;
    color: #5b5246;
    width: 80%;
}

/* .titre1 h6 {
    font-size: 10px;
    letter-spacing: 1px;
} */

.titre1 p {
    font-size: 20px;
}
.paragraphe {
    font-size: 20px;
    font-family: TAN, sans-serif;
}
