/*MIA DREAMS*/
.header1 {
    background-image: url('../img/miadreams/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.header1 h1 {
    position: relative;
    top: 500px;
    color: black;
    font-family: Lastica, serif;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    letter-spacing: 2px;
}

/* sectionn univers? */

.title-uni {
    background-color: #C9C4C0;
    color: black;
    width: 200px;
    height: 90px;
    padding: 20px 0 20px 20px;
    position: relative;
    top: 75px;
    left: 100px;
    font-size: 25px;
    font-family: "Lastica", serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 4px;
}

.univers {
    background-image: url('../img/miadreams/background2.jpg');
    background-repeat: no-repeat;
    height: 425px;
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.img1 {
    position: relative;
    left: 930px;
    bottom: 100px;
    width: 250px;
    height: 350px;
    background-color: black;
    padding: 0 0 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img2 {
    position: relative;
    left: 370px;
    bottom: 50px;
    width: 300px;
    height: 390px;
    background-color: black;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.texte-uni {
    color: white;
    position: relative;
    right: 520px;
    top: 50px;
    font-size: 20px;
    font-family: Glacial Indifference, serif;
}

/* sectionn collection */
.collection-title {
    position: relative;
    top: 80px;
    margin-left: 140px;
    font-size: 25px;
    font-family: Glacial Indifference, serif;
    letter-spacing: 2px;

}

.collection-title span {
    font-weight: bold;

}

.collection {
    position: relative;
    top: 190px;
    background-color: #E8E3DE;
    display: flex;
    justify-content: center;
    gap: 90px;
    height: 400px;
}

.collection h4 {
    position: relative;
    left: 65px;
    bottom: 84px;
    font-size: 20px;
    margin-left: 20px;
}

.collection-img {
    width: 250px;
    height: 350px;
    position: relative;
    bottom: 100px;
    transition: transform 0.5s ease;
}

.collection-img:hover {
    transform: scale(1.3);

}

.button {
    position: relative;
    top: 120px;
    border: 1px solid black;
    width: 550px;
    padding: 5px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Lastica, serif;
    background-color: white;
    color: black;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

/* section nouvelle gamme */
.gamme {
    margin-top: 210px;
}

.N-gamme-title {
    position: relative;
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    font-family: Lastica, serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.N-gamme {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}


.N-gamme-img {
    width: 300px;
    height: 420px;
    transition: transform 0.5s ease;
}

.N-gamme-img:hover {
    transform: scale(1.1);
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #E8E3DE;
    padding-right: 20px;
    padding-left: 20px;

}

.container-button {

    transform: translateX(5%);
}

@media (max-width: 1246px ) {
    .univers {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;

    }

    .img1 {
        left: 0;
        bottom: 100px;
        width: 250px;
        height: 350px;

    }

    .img2 {
        left: 0;
        bottom: 50px;
        width: 300px;
        height: 390px;
    }

}

@media (max-width: 1398px) {
    .texte-uni {
        top: 40px;
        font-size: 19px;

    }

}

@media (max-width: 1024px ) {


    .header1 h1 {
        background-color: rgba(255, 255, 255, 0.5);
        width: 300px;

    }

    .collection-title {
        display: none;
    }
}

@media (max-width: 768px) {
    .univers {
        flex-direction: column;
        align-items: center;
    }

    .img1,
    .img2 {
        position: static;
        margin-bottom: 20px;
    }

    .texte-uni {
        position: static;
        margin-top: 20px;
    }

    .collection {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }


    .collection-title {
        position: relative;
        right: 80px;
        top: -30px;

    }


    .collection-title span {
        font-weight: bold;

    }

    .collection h4 {
        position: static;
        margin-top: 20px;
        font-family: Glacial Indifference, serif;
        text-align: center;
    }

    .collection-img {
        position: static;
        margin-bottom: 20px;
    }

    .button {
        position: static;
        margin-top: 20px;
    }

    .N-gamme {
        flex-direction: column;
        align-items: center;
    }

    .N-gamme-img {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .title-uni {
        margin-left: 0;
        text-align: center;

    }

    .univers {
        top: 0;
        height: auto;
    }

    .button {
        width: 100%;
    }


    .N-gamme-title {
        text-align: center;
        position: relative;
        top: 500px;

    }

    .N-gamme {
        position: relative;
        height: auto;
    }

}

@media (max-width: 426px) {
    .header1 {
        background-size: contain;
        height: 300px;
    }

    .header1 h1 {
        position: relative;
        top: 100px;
        font-size: 15px;

    }

    .title-uni {
        top: 0;
        text-align: center;
        padding: 15px 10px 0 10px;

    }

    .univers {
        top: 0;
        height: 800px;

    }

    .collection {
        height: 1600px;
    }

    .N-gamme, .N-gamme-title {
        top: 0
    }

    .container-button {
        top: 300px;
    }
}

@media (max-width: 376px) {
    .title-uni {
        left: 80px;

    }

}

@media (max-width: 321px) {
    .title-uni {
        left: 60px;

    }
}
