/* Réinitialisation des styles par défaut */
@font-face {
    font-family: 'Glacial Indifference';
    src: url("../polices/GlacialIndifference-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Aniyah';
    src: url("../polices/Aniyah Free.ttf") format('truetype');
}

@font-face {
    font-family: 'TAN MERINGUE';
    src: url("../polices/TAN MERINGUE.ttf") format('truetype');
}

@font-face {
    font-family: 'Lastica';
    src: url("../polices/FontsFree-Net-Lastica.ttf") format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url("../polices/Shrikhand-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Great Vibes';
    src: url("../polices/GreatVibes-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hauteur de 100% pour le body et le HTML */
body, html {
    height: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding: 0 500px; /* Modifier le padding */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden;
}

.modal-content .modal-body {
    height: 300px;
    padding-top: 50px;
}

.modal-content .modal-body p {
    text-align: center;
    font-size: 30px;
}

.modal-content .modal-body label {
    display: block; /* Convertir en élément bloc */
    margin: auto; /* Centrer horizontalement */
    width: 300px; /* Ajuster la largeur à celle du contenu */
}

.modal-content .modal-body label input {
    font-size: 20px;
}

.modal-content .modal-body button {
    display: block; /* Convertir en élément bloc */
    margin: auto; /* Centrer horizontalement */
    width: 300px; /* Ajuster la largeur à celle du contenu */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}





