/* Réinitialisation des styles par défaut */
@font-face {
    font-family: 'GlacialIndifference';
    src: url("../polices/GlacialIndifference-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Aniyah';
    src: url("../polices/Aniyah Free.ttf") format('truetype');
}

@font-face {
    font-family: 'TAN MERINGUE';
    src: url("../polices/TAN MERINGUE.ttf") format('truetype');
}

@font-face {
    font-family: 'Lastica';
    src: url("../polices/FontsFree-Net-Lastica.ttf") format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url("../polices/Shrikhand-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hauteur de 100% pour le body et le HTML */
body, html {
    height: 100%;
    font-family: 'Great Vibes', cursive;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding: 0 500px; /* Modifier le padding */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden;
}

.modal-content .modal-body {
    height: 300px;
    padding-top: 50px;
}

.modal-content .modal-body p {
    text-align: center;
    font-size: 30px;
}

.modal-content .modal-body label {
    display: block; /* Convertir en élément bloc */
    margin: auto; /* Centrer horizontalement */
    width: 300px; /* Ajuster la largeur à celle du contenu */
}

.modal-content .modal-body label input {
    font-size: 20px;
}

.modal-content .modal-body button {
    display: block; /* Convertir en élément bloc */
    margin: auto; /* Centrer horizontalement */
    width: 300px; /* Ajuster la largeur à celle du contenu */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

/*Header*/
body, html {
    height: 100%;
}

.navbar {
    background-color: black;
}

.navbar-nav {
    font-family: Lastica, serif;
    letter-spacing: 3px;
}

.navbar-nav .nav-link {

    font-size: 20px; /* Taille de la police */
}

.navbar-nav .nav-link:hover {
    color: rgba(224, 224, 65, 0.922) !important;
}

.mia {
    height: 400px;
    color: white;
}

.logo-sociaux {
    width: 50px;
    height: 50px;
    margin: 7px;
}

.logo {
    width: 250px;
    height: 250px;
}

.ligne {
    margin: 80px 20px 20px 20px;
}


/* Styles pour la section container-1 */
.home-container-1 {
    background-image: url("../img/home-image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px; /* Hauteur minimale de votre conteneur */
    display: flex;
    justify-content: center; /* Centrer horizontalement */

}

#home-image1 {
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    object-fit: cover; /* Assure que l'image remplit entièrement son conteneur tout en conservant ses proportions */
}

.home-container-1 .info {
    color: white;
    font-size: 15px;
    font-family: Lastica, serif;
    translate: 0% 50%;
    position: relative;

}

.info h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    letter-spacing: 7px;
}

.info h4 {
    font-size: 17px;
    color: white;
    word-spacing: 15px;
}

/* Styles pour la section container-2 */
.home-container-2 {
    margin: 50px 100px;
    font-size: 20px;
}

/* Ajoutez ces styles CSS personnalisés */
.custom-video {
    position: relative;
    padding-bottom: 56.25%; /* Ratio d'aspect 16:9 */
    height: 0;
    overflow: hidden;
}

.custom-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-container-2 .section-text h2 {
    font-family: Shrikhand, serif;
}

.home-container-2 .section-text p {
    font-family: Glacial Indifference, serif;
}

/* Styles pour la section container-3 */
.home-container-3 {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Aniyah', serif;
}

.home-container-3 p {
    text-align: center;
}

/* Styles pour la section container-4 */
.home-container-4 {
    display: flex;
    margin: 0 30px;
    justify-content: center;

}

.home-container-4 img {
    margin: 30px; /* Ajoute une marge entre les images */
}

#home-image2, #home-image4 {
    width: 290px;
    height: 450px;
}

#home-image3 {
    margin-top: 100px;
    width: 350px;
    height: 300px;
}

.image-container {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.image-container-2 {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.image-container.black::before {
    background-color: black; /* Couleur noire */
}

.image-container-2.brown::before {
    background-color: saddlebrown; /* Couleur marron */
}

.image-container.red::before {
    background-color: darkred; /* Couleur rouge */
}

.image-container-2::before {
    content: "";
    position: absolute;
    top: 110px;
    right: 0;
    width: calc(100% - 80px); /* Largeur du rectangle moins les marges */
    height: calc(58%);
    z-index: -1; /* Mettez l'arrière-plan devant l'image */
}

.image-container::before {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 0;
    width: calc(100% - 50px); /* Largeur du rectangle moins les marges */
    height: calc(85%); /* Hauteur du rectangle moins les marges */
    z-index: -1; /* Mettre en arrière-plan */
}

.image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    padding: 10px 20px; /* Ajustez le rembourrage selon vos besoins */
    background-color: rgba(112, 118, 144, 0.5); /* Couleur de fond semi-transparente */
    color: white; /* Couleur du texte blanc */
    margin: 0;
    font-family: Lastica, sans-serif;
    letter-spacing: 5px;
}

.image-container img, .image-container-2 img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.image-container .description, .image-container-2 .description {
    color: white;
    text-align: center;
    transform: translate(5%, -100%);
}

.home-container-5 {
    display: flex;
    margin: 50px 50px;
    text-align: center;
    justify-content: center;
}

.home-container-5 a {
    padding: 10px 70px;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    background-color: #603512
}


.paragraphe {
    margin: 10px ;
    font-size: 25px;
    font-family: TAN, sans-serif;
}

#home-image5 {
    width: 450px;
    height: 600px;
    margin-bottom: 20px;
}

.titre1 {
    background-color: #e0ccc4;
    padding: 10px 10px;
    font-family: Lastica, serif;
    color: #5b5246;
}

.titre1 h6 {
    font-size: 40px;
    letter-spacing: 2px;
}

.titre1 p {
    font-size: 30px;
}

/*Container 6*/
.home-container-6 {
    display: flex;
    margin: 50px 50px;
    text-align: center;
    justify-content: center;
}

.home-container-6 p {
    font-size: 25px;
}

.home-container-6 a {
    padding: 10px 70px;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    background-color: #6d755c
}

#home-image6 {
    padding: 20px 0;
    width: 450px;
    height: 600px;
}

.titre2 {
    background-color: #495333;
    color: white;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    margin: 0 0 0 0;
    padding: 20px 20px;
    font-family: Lastica, serif;
    letter-spacing: 3px;
}

.home-container-5 .section-text, .home-container-6 .section-text {
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrage horizontal des éléments enfants */
    flex-direction: column; /* Affichage des éléments enfants en colonne */
    align-items: center; /* Centrage vertical des éléments enfants */
    text-align: center;
}


.home-container-7 {
    position: relative;
    text-align: center;
}

.home-container span {
    color: #EBCF3F
}

.home-container-7 img {
    width: 50%;
    height: 65%;
    display: block;
    margin: 0 auto;
}


.home-container-7 h6 {
    font-size: 25px;
    font-family: Lastica, serif;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 15px;
}

.home-container-7 p {
    font-size: 20px;
    font-family: Glacial Indifference, serif;
}

.home-container-7 a {
    padding: 10px 5px;
    border-radius: 30px;
    border: 2px solid black; /* Définit une bordure de 2 pixels d'épaisseur, solide et noire */
    font-size: 17px;
    background-color: #EBCF3F;
    color: black;
}


.home-container-8 {
    background-image: url("../img/home-image8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px; /* Hauteur minimale de votre conteneur */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    text-align: center; /* Aligner le texte au centre */
}

.home-container-8 h1 {
    color: white;
    font-size: 50px;
    font-family: Glacial Indifference, serif;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1269px) {
    /* Styles pour la section container-4 */
    .home-container-4 {
        flex-direction: column; /* Afficher les images en colonne */
        align-items: center; /* Alignement vertical des images */
        text-align: center; /* Alignement du texte */
    }

    #home-image2, #home-image3, #home-image4 {
        width: 80%; /* Largeur des images */
        height: auto; /* Hauteur automatique pour conserver les proportions */
        margin-bottom: 20px; /* Espacement entre les images */
    }

}

@media only screen and (max-width: 419px) {
    /* Styles pour la section container-1 */

    .info h1{
        font-size: 25px;
    }


}
@media only screen and (max-width: 394px) {
    /* Styles pour la section container-1 */
    .info h1{
        font-size: 18px;
    }

    .info h4{
        font-size: 10px;
    }

    .home-container-3 p{
        font-size: 27px;
    }
}


