/*Ma petite robe en en wax*/
.mprew-container-1 {
    background-image: url("../img/mprew/mprew-image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px; /* Hauteur minimale de votre conteneur */
    display: flex;
}


.mprew-container-2 {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    margin-top: 30px;
}

.mprew-container-3 {
    display: flex;
    justify-content: center; /* Centre horizontalement */
}

.mprew-container-3 p {
    padding: 5% 0;
    font-size: 20px; /* Taille de police en fonction de la largeur de la vue */
    max-width: 600px; /* Limiter la largeur du paragraphe */
    font-family: Glacial Indifference, serif;
}

.mprew-container-3 video, .img-mprew {
    width: 240px;
    height: 300px;
    margin: 20px 0 20px 20px;
}


.video-presentation-1 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-presentation-1 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .mprew-container-3 {
        flex-direction: column; /* Afficher les éléments en colonne */
        align-items: center; /* Centrer verticalement */
    }
}


@media (max-width: 426px) {
    .mprew-container-1 {
        background-size: contain;
        height: 214px;
    }

}

@media (max-width: 376px) {
    .mprew-container-1 {
        height: 189px;
    }
}

@media (max-width: 320px) {
    .mprew-container-1 {
        height: 161px;
    }
}

